<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

<body>

    <div>
        <h1>VGN Scraped</h1>
        <h2>VG News</h2>
        <div>
            <% results.forEach(function(info) { %>
            <%- include('../partials/info', info); %>
            <% }); %>
        </div>
        <!-- <div>
            <p><%= response.title %></p>
            <p><%= response.summary %></p>
            <a href="<% = response.link %>"></a>
        </div> -->
    </div>
    <% include ../partials/script %>

</body>

</html>